{{ if .Page.Store.Get "hasMermaid" }}
<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11.1.1/dist/mermaid.esm.min.mjs';

  if (!window.mermaidInitialized) {
    window.mermaidInitialized = true;

    const lightTheme = {
      primaryColor: "#1976D2",
      primaryBorderColor: "#1565C0",
      primaryTextColor: "#ffffff",
      secondaryColor: "#FBC02D",
      tertiaryColor: "#388E3C",
      lineColor: "#9E9E9E",
      background: "#ffffff"
    };

    const darkTheme = {
      primaryColor: "#1E88E5",
      primaryBorderColor: "#1565C0",
      primaryTextColor: "#ffffff",
      secondaryColor: "#FDD835",
      tertiaryColor: "#43A047",
      lineColor: "#BDBDBD",
      background: "#121212"
    };

    // 其它配色方案 1.Nord Theme（冷色调，开发者社区常用）
    const NordTheme = {
            primaryColor: "#5E81AC",
            secondaryColor: "#88C0D0",
            tertiaryColor: "#81A1C1",
            background: "#ECEFF4",
            fontFamily: "Inter, sans-serif",
            lineColor: "#4C566A",
    };
    // 其它配色方案 2.Material Design 风格
    const MaterialDesignTheme = {
        primaryColor: "#1976D2",   // 蓝
        secondaryColor: "#FBC02D", // 黄
        tertiaryColor: "#388E3C",  // 绿
        background: "#FAFAFA",
        lineColor: "#9E9E9E",
        fontFamily: "Roboto, sans-serif"
    };

    function getThemeVariables() {
      return document.documentElement.classList.contains("dark")
        ? darkTheme
        : lightTheme;
    }

    // 暴露给外部调用（主题切换时用）
    window.renderMermaid = function() {
      mermaid.initialize({
        startOnLoad: true,
        theme: "base",
        themeVariables: getThemeVariables()
      });
      mermaid.init(undefined, document.querySelectorAll('.mermaid'));
    }

    // 初次渲染
    window.renderMermaid();
  }
</script>
{{ end }}


{{- if not (.Param "hideFooter") }}
<footer class="footer">
    {{- if not site.Params.footer.hideCopyright }}
        {{- if site.Copyright }}
        <span>{{ site.Copyright | markdownify }}</span>
        {{- else }}
        <span>&copy; {{ now.Year }} <a href="{{ "" | absLangURL }}">{{ site.Title }}</a></span>
        {{- end }}
    {{- end }}
</footer>
{{- end }}

{{- if (not site.Params.disableScrollToTop) }}
<a href="#top" aria-label="go to top" title="Go to Top (Alt + G)" class="top-link" id="top-link" accesskey="g">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6" fill="currentColor">
        <path d="M12 6H0l6-6z" />
    </svg>
</a>
{{- end }}

{{- partial "extend_footer.html" . }}

